<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<<<<<<< Updated upstream
    <a href="@Url.Action("Create","Criteria")">add new Criteria</a>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Action
            </th>
        </tr>
        @foreach(var p in ViewBag.result)
        {
        <tr>
            <td>@p.idCriteria</td>
            <td>@p.name</td>
            <td>@p.description</td>

            @if (p.idCriteria > 12)
            {

            <td>@Html.ActionLink("Delete", "Delete", new { id = p.idCriteria },new { onclick= "return confirm('Are you sure you wish to delete this criteria?');" } ) </td>


            }

        </tr>
        }
    </table>
=======
    <div class="card">
        <div class="card-body">
            <a class="btn btn-primary" href="@Url.Action("Create","Criteria")">add new Criteria</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in ViewBag.result)
                    {
                        <tr>
                            <td>@p.name</td>
                            <td>@p.description</td>


                            @if (p.idCriteria > 12)
                            {

                                <td>@Html.ActionLink("Delete", "Delete", new { id = p.idCriteria }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you wish to delete this criteria?');" }) </td>


                            }
                            @if (p.idCriteria < 13)
                            {

                                <td>@Html.ActionLink("Delete", "Delete", new { id = p.idCriteria }, new { @class = "btn btn-secondary disabled", onclick = "return false;" }) </td>


                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
>>>>>>> Stashed changes
</body>