@model IEnumerable<test_data.niveauxmat>

@{
    ViewBag.Title = "VoirList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VoirList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.competance.name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.competance.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Niveaux)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.competance.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.competance.type)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Niveaux)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
